@import url("./fonts.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

:root {
  /* COLORS */
  --white: #ffffff;
  --black: #2f3134;
  --light-blue: #0059ab;
  --green: #89a36b;
  --red: #e02222;
  --orange: #fbbe01;
}

h2 {
  font-family: "Muller";
}

.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
.btn {
  padding: 12px 36px;
  border-radius: 100px;
  background: var(--light-blue);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: 0px 2px 10px 0px #00000024;
  text-decoration: none;
  color: var(--white);
}
.btn:hover {
  background: #004280;
}
.title {
  font-weight: 700;
  font-size: 32px;
  color: var(--black);
  font-family: "Muller";
  text-transform: uppercase;
}

/* header */
.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 10px 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.nav_logo {
  padding: 7px 30px;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px);
  border-radius: 100px;
}
.nav_logo.main,
.nav_links.main,
.nav_right.main {
  background: rgba(0, 89, 171, 0.04);
}
.nav_burger {
  display: none;
}
.nav_links {
  display: flex;
  width: 68%;
  padding: 16px 44px;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px);
  border-radius: 100px;
  justify-content: space-between;
}
.nav_link {
  font-weight: 400;
  font-size: 14px;
  color: var(--white);
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
.nav_link.main {
  color: var(--light-blue);
}
.nav_links:hover .nav_link {
  opacity: 0.4;
}
.nav_links .nav_link:hover {
  opacity: 1;
}
.nav_right {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px);
  color: var(--white);
  text-decoration: none;
  transition: 0.2s ease-in-out;
  white-space: nowrap;
}
.nav_right.main {
  color: var(--light-blue);
}
.nav_right.main:hover {
  color: var(--white);
}
.nav_right:hover {
  background: var(--light-blue);
}

/* header_content */
.header_content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 400px;
}
.header_content_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}
.header_content_block_top {
  display: flex;
  flex-direction: column;
}
.header_content_block_top p:first-child {
  font-weight: 500;
  font-style: italic;
  font-size: 70px;
  color: #70d573;
  line-height: 0;
}
.header_content_block_top p:last-child {
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
  color: var(--white);
}
.header_content_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.header_content_block h2 {
  font-weight: 700;
  font-size: 64px;
  text-transform: uppercase;
  color: var(--white);
}
.header_content_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 204px;
  height: 198px;
  background: var(--light-blue);
  color: var(--white);
  text-align: center;
  padding-top: 40px;
  border-radius: 100px;
  position: absolute;
  bottom: -100px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  z-index: 2;
}
.header_content_btn:hover {
  background: #004c93;
}
.header_content_btn p {
  font-weight: 600;
  font-size: 20px;
}
@keyframes arrowMove {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}
.header_content_btn img {
  animation: arrowMove 1.5s infinite ease-in-out;
}

/* main_content */
.main_content {
  position: relative;
}
.main_content_swiper .swiper-wrapper {
  max-height: 720px;
}
.main_content_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.main_content_item {
  display: flex;
  gap: 90px;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  height: 100%;
  padding-bottom: 110px;
}
.main_content_item_left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main_content_item_left_title {
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
}
.main_content_item_left_text {
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
}
.main_content_item_left_bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  align-items: center;
}
.main_content_item_left_socials {
  display: flex;
  gap: 14px;
}
.main_content_swiper {
  position: relative;
}
.swiper-left-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  left: 40px;
  gap: 14px;
}
.main_content_swiper .swiper-pagination {
  right: unset;
  left: unset;
  transform: unset;
  position: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.swiper-content-next,
.swiper-content-prev {
  cursor: pointer;
}
.main_content_swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}
.main_content_swiper .swiper-pagination-bullet-active {
  background-color: var(--white);
}

/* footer */
.footer_main {
  border-radius: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 98%;
}

/* offset_banner */
.offset_banner {
  position: relative;
  width: 100%;
  height: 660px;
}
.offset_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: contain;
}
.offset_banner_title {
  font-weight: 700;
  font-size: 54px;
  text-transform: uppercase;
  color: var(--black);
  padding-top: 160px;
  text-align: center;
}
.offset_banner_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.offset_banner_bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 80px;
  align-items: center;
}
.offset_banner_bottom.mobile {
  display: none;
}
.offset_banner_item {
  max-width: 295px;
  display: flex;
  flex-direction: column;
}
.offset_banner_item .main_content_item_left_socials {
  padding-top: 17px;
}
.offset_banner_item_subtitle {
  font-weight: 500;
  font-style: italic;
  font-size: 70px;
  line-height: 0;
  color: var(--light-blue);
}
.offset_banner_item_subtitle.green {
  color: var(--green);
}
.offset_banner_item_subtitle.red {
  color: var(--red);
}
.offset_banner_item_text {
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
  color: var(--black);
}
.offset_banner_top {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
}
.offset_banner_top_bottom {
  display: flex;
  align-items: center;
  gap: 14px;
}
.offset_banner_top_bottom.mobile {
  display: none;
}
.main_content_item_left_socials.mobile {
  display: none;
}

/* offset_gallery */
.offset_gallery {
  padding: 80px 0;
  user-select: none;
}
.offset_gallery.mobile {
  display: none;
}
.offset_gallery_img {
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
}
.offset_gallery .title {
  padding-bottom: 40px;
}
.offset_gallery_swiper_wrapper {
  position: relative;
}
.offset_gallery_next,
.offset_gallery_prev,
.offset_gallery_modal_next,
.offset_gallery_modal_prev,
.offset_gallery_thumbs_next,
.offset_gallery_thumbs_prev {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.offset_gallery_next,
.offset_gallery_modal_next,
.offset_gallery_thumbs_next {
  left: -20px;
}
.offset_gallery_prev,
.offset_gallery_modal_prev,
.offset_gallery_thumbs_prev {
  right: -20px;
}
.swiper-button-disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.offset_gallery_images {
  display: none;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(29, 29, 27, 0.14);
  backdrop-filter: blur(6px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in-out;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
}
.offset_gallery_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%) scale(0.7);
  background: var(--white);
  transition: 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  border-radius: 10px;
  z-index: 100;
  width: 100%;
  max-width: 950px;
  padding: 40px 70px;
}
.offset_gallery_modal.active {
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
  opacity: 1;
}
.offset_gallery_modal h2 {
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  color: var(--black);
  padding-bottom: 30px;
}
.offset_gallery_close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.offset_gallery_modal_swiper_2 {
  width: 100%;
  margin-bottom: 30px;
}
.offset_gallery_modal_swiper_2 img {
  width: 100%;
  object-fit: cover;
  height: 350px;
  border-radius: 20px;
}
.offset_gallery_modal_swiper {
  width: 100%;
}
.offset_gallery_modal_swiper img {
  width: 100%;
  object-fit: cover;
  border-radius: 14px;
  height: 125px;
}
.swiper_gallery_modal_wrapper,
.swiper_gallery_modal_thumbs_wrapper {
  position: relative;
}
.offset_gallery_thumbs_next,
.offset_gallery_thumbs_prev {
  svg {
    width: 40px;
    height: 40px;
  }
}

/* offset_actions */
.offset_actions_items {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}
.offset_actions_items::before {
  content: "";
  position: absolute;
  height: 95%;
  width: 0;
  left: 30px;
  border-left: 2px solid transparent;
  border-image: repeating-linear-gradient(to bottom, #898b8e 0px, #898b8e 10px, transparent 1px, transparent 20px) 1;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
}
.offset_actions_wrapper {
  display: flex;
  gap: 35px;
}
.offset_actions_item {
  display: flex;
  flex-direction: column;
  padding-top: 9.5px;
  gap: 10px;
  color: var(--black);
  width: calc(100% - 98px);
}
.offset_actions_item h2 {
  font-weight: 700;
  font-size: 24px;
}
.offset_actions_item p {
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  padding-bottom: 14px;
}
.offset_actions_swiper {
  width: 100%;
}
.offset_actions_swiper .swiper-slide img {
  width: 100%;
  object-fit: cover;
}

/* contact */
.contact {
  padding: 100px 0;
}
.contact_content {
  background: var(--light-blue);
  border-radius: 20px;
  padding: 56px 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact_img {
  position: absolute;
  top: -50px;
  left: -20px;
}
.contact_title {
  font-weight: 700;
  font-size: 32px;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
}
.contact_form {
  display: flex;
  gap: 20px;
  align-items: center;
}
.contact_label {
  display: flex;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 8px 14px;
  border-radius: 100px;
  gap: 32px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: 0.1s ease-in-out;
}
.contact_icon {
  background: rgba(0, 89, 171, 0.2);
  width: 56px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  color: var(--light-blue);
}
.contact_input {
  background: unset;
  border: unset;
  outline: unset;
  width: 100%;
  color: var(--white);
}
.contact_input::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.contact_label:focus-within {
  background: unset;
}
.contact_label:focus-within .contact_icon {
  background: rgba(255, 255, 255, 0.2);
  color: var(--white);
}
.contact_content.green .contact_label:focus-within .contact_icon {
  background: rgba(255, 255, 255, 0.2);
  color: var(--white);
}
.contact_content.red .contact_label:focus-within .contact_icon {
  background: rgba(255, 255, 255, 0.2);
  color: var(--white);
}
.contact_btn {
  width: 154px;
  height: 100%;
  padding: 16px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  color: var(--light-blue);
  border-radius: 100px;
  border: unset;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.contact_btn:hover {
  background: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.6);
}
.contact_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 30px;
}
.contact_item {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  color: var(--white);
}
.footer {
  background: rgba(0, 89, 171, 0.1);
  padding: 35px 0;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.04);
  margin: 0 20px 30px 20px;
  border-radius: 20px;
}
.footer .nav_logo {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.06);
}
.footer .nav_links {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.06);
}
.footer .nav_link {
  color: var(--black);
}
.footer .nav_right {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.06);
  color: var(--black);
}
.footer .nav_right:hover {
  background: var(--light-blue);
  color: var(--white);
}

/* package */
.package_header_btn {
  background: var(--green);
}
.package_made {
  padding: 60px 20px 80px 20px;
}
.package_made_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 42px;
  background: rgba(224, 34, 34, 0.1);
  border-radius: 20px;
  position: relative;
}
.package_made_content h2 {
  font-weight: 500;
  font-style: italic;
  font-size: 30px;
  color: var(--red);
  font-family: "Lato";
}
.package_made_img {
  position: absolute;
  right: 0;
}

/* package_plans */
.package_plans {
  padding-bottom: 100px;
}
.package_plans_categories {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 60px;
  gap: 20px;
  overflow-x: auto;
}
.package_plans_category {
  padding: 16px 30px;
  border-radius: 100px;
  background: rgba(137, 163, 107, 0.05);
  transition: 0.2s ease-in-out;
  font-weight: 400;
  font-size: 14px;
  color: var(--green);
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}
.package_plans_category:hover {
  background: var(--green);
  color: var(--white);
}
.package_plans_category.active {
  background: var(--green);
  color: var(--white);
  font-weight: 700;
}
.package_plans_texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--black);
  padding-bottom: 24px;
}
.package_plans_texts h2 {
  font-weight: 700;
  font-size: 24px;
}
.package_plans_texts p {
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
}
.table_content {
  width: 100%;
  overflow-x: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
}

thead {
  background-color: #a2c286;
  color: #fff;
}

thead th {
  padding: 24px 50px;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
}

tbody td {
  padding: 15px 50px;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  border-left: 1px solid #ccc;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
}

tbody tr td:first-child {
  border-left: none;
}

/* package_gallery */
.package_gallery_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 40px;
}
.package_gallery_wrapper .swiper-wrapper {
  max-height: 670px;
}
.package_gallery_swiper img {
  width: 100%;
  height: 100%;
  max-height: 550px;
  border-radius: 12px;
  object-fit: cover;
}
.package_gallery_swiper .swiper-slide img {
  filter: blur(2px);
}
.package_gallery_swiper .swiper-slide-active img {
  filter: unset;
}
.package_gallery_pag {
  position: absolute;
  top: 50%;
  right: -70px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.package_gallery_next,
.package_gallery_prev {
  cursor: pointer;
}
.contact_content.green {
  background: var(--green);
}
.contact_content.green .contact_btn {
  color: var(--green);
}
.contact_content.green .contact_icon {
  background: rgba(137, 163, 107, 0.2);
  color: var(--green);
}

/* seal */
.seal_header_btn {
  background: var(--red);
}
.package_plans_category.orange {
  background: rgba(251, 190, 1, 0.12);
  color: var(--orange);
}
.package_plans_category.orange.active {
  background: var(--orange);
  color: var(--white);
}
.package_plans_category.orange:hover {
  background: var(--orange);
  color: var(--white);
}
.seal_table {
  background-color: var(--red);
}
.contact_content.red {
  background: var(--red);
}
.contact_content.red .contact_btn {
  color: var(--red);
}
.contact_content.red .contact_icon {
  background: rgba(224, 34, 34, 0.2);
  color: var(--red);
}
.seal_plans {
  padding: 100px 0;
}

/* souvenir */
.souvenir_plans {
  padding: 0 0 40px 0;
}
.souvenir_category {
  background: rgba(0, 89, 171, 0.05);
  color: var(--light-blue);
}
.souvenir_category.active {
  background: var(--light-blue);
  color: var(--white);
}
.souvenir_category:hover {
  background: var(--light-blue);
  color: var(--white);
}

/* burger_menu */
.burger_menu {
  position: fixed;
  width: 70%;
  height: 100vh;
  padding: 35px 17px;
  background: var(--white);
  top: 0;
  right: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  gap: 40px;
  transition: 0.4s ease-in-out;
  transform: translateX(1000px);
  opacity: 0;
  visibility: hidden;
}
.burger_menu.active {
  transform: translate(0);
  opacity: 1;
  visibility: visible;
}
.burger_menu_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--light-blue);
  font-weight: 600;
  font-size: 16px;
  color: var(--black);
}
.burger_menu_links {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.burger_link {
  font-weight: 400;
  font-size: 14px;
  color: var(--black);
  text-decoration: none;
}
.burger_menu_bottom {
  display: flex;
  padding: 15px 0;
  border-top: 1px solid var(--light-blue);
  border-bottom: 1px solid var(--light-blue);
}

/* media */
@media screen and (max-width: 1100px) {
  .package_gallery_pag {
    right: 0;
    z-index: 1;
  }
}
@media screen and (max-width: 960px) {
  .nav_burger {
    display: block;
  }
  .nav_links,
  .nav_right {
    display: none;
  }
  .nav_right.mobile {
    display: flex;
    background: rgba(0, 89, 171, 0.1);
    color: var(--black);
  }
  .swiper-left-nav {
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
  }
  .main_content_swiper .swiper-pagination {
    flex-direction: row;
    gap: 14px;
  }
  .swiper-content-next {
    transform: rotate(-90deg);
  }
  .swiper-content-prev {
    transform: rotate(-90deg);
  }
  .offset_gallery_modal {
    width: 96%;
  }
}
@media screen and (max-width: 860px) {
  .main_content_item {
    flex-direction: column;
    gap: 50px;
    padding-bottom: unset;
  }
  .main_content_swiper {
    height: 100%;
  }
  .main_content {
    height: 120vh;
  }
  .main_content_swiper .swiper-wrapper {
    max-height: unset;
  }
  .main_content_right_img {
    width: 100%;
    height: 80%;
    padding-bottom: 100px;
    object-fit: contain;
  }
  .main_content_slide {
    padding-top: 180px;
    padding-bottom: 100px;
  }
  .offset_banner_bottom {
    flex-direction: column;
    gap: 10px;
    display: none;
  }
  .offset_banner_item {
    max-width: unset;
  }
  .offset_bg {
    object-fit: cover;
  }
  .offset_banner_bottom.mobile {
    display: flex;
    padding: 10px 0 60px 0;
  }
  .offset_banner_item_text {
    text-align: center;
  }
  .offset_banner_bottom.mobile .main_content_item_left_socials {
    display: none;
  }
  .main_content_item_left_socials.mobile {
    display: flex;
  }
  .offset_banner_top {
    height: 100%;
    padding-top: unset;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  .contact_title {
    font-size: 26px;
  }
  .contact_content {
    padding: 50px 30px;
  }
  .offset_banner_top_bottom.mobile {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .header_content_block {
    padding: 0 20px;
  }
  .header_content_block h2 {
    font-size: 44px;
  }
  .header_content_btn p {
    font-size: 14px;
  }
  .header_content_btn {
    width: 150px;
    height: 145px;
  }
  .main_content_item_left {
    text-align: center;
  }
  .main_content_item_left_title {
    font-size: 32px;
  }
  .main_content_item_left_text {
    font-size: 16px;
  }
  .main_content_item_left_bottom {
    padding-top: 20px;
  }
  .header_content_block_top p:last-child {
    text-align: center;
  }
  .header_content_block h2 {
    text-align: center;
  }
  .footer {
    padding: 15px 10px;
  }
  .contact_form {
    flex-direction: column;
  }
  .contact_btn {
    width: 100%;
  }
  .offset_banner_title {
    font-size: 28px;
  }
  .offset_banner_title span {
    font-size: 44px;
  }
  .offset_gallery_modal {
    padding: 40px 20px;
  }
  .offset_gallery_modal h2 {
    font-size: 24px;
  }
  .package_gallery {
    display: none;
  }
  .offset_gallery.mobile {
    display: block;
  }
  .offset_gallery {
    padding: 60px 0;
  }
  .package_made {
    padding: 60px 20px;
  }
  .package_plans_categories {
    padding-bottom: 20px;
  }
  .package_plans_texts {
    display: none;
  }
  .package_plans {
    padding-bottom: unset;
  }
}
@media screen and (max-width: 480px) {
  .main_content_item_left_bottom {
    flex-direction: column;
    gap: 50px;
  }
  .main_content_item_left_bottom .btn {
    width: 100%;
  }
  .contact_bottom {
    gap: 5px;
  }
  .contact_content {
    padding: 50px 17px;
  }
  .title {
    font-size: 24px;
  }
  .offset_actions_item h2 {
    font-size: 18px;
  }
  .offset_actions_item p {
    font-size: 14px;
  }
  .offset_actions_item_left img {
    width: 26px;
    height: 26px;
  }
  .offset_actions_items::before {
    left: 12px;
  }
  .offset_actions_wrapper {
    gap: 10px;
  }
  .offset_actions_item {
    width: calc(100% - 36px);
  }
}
